@import "tailwindcss";

/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap"); */


:root {
  --font-arabic: "Rabar", sans-serif;
  --font-kurdish: "Rabar", sans-serif;
  /* --font-english: "Playfair Display", serif; */
  --font-english: "Poppins", sans-serif;}

body {
  font-family: var(--font-english);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-primary: #2957a2;
  --color-secondary: #e0a973;
  --color-tertiary: #ebc7a3;
  --color-dark-background: #02152d;
  --color-light-background: #f0f2f5;
  --color-light-text: #2957a2;
}

/* Scrollbar styles */
body.light::-webkit-scrollbar {
  width: 8px;
}
body.light::-webkit-scrollbar-track {
  background: #f9f9fc;
}
body.light::-webkit-scrollbar-thumb {
  background: #2957a2;
}
body.dark::-webkit-scrollbar {
  width: 8px;
}
body.dark::-webkit-scrollbar-track {
  background: #2957a2;
}
body.dark::-webkit-scrollbar-thumb {
  background: #cfd4ff;
}

/* Checkbox styles */
.ant-checkbox:not(.ant-checkbox-checked) .ant-checkbox-inner {
  border: 1px solid rgba(41, 87, 162) !important;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #2957a2 !important;
  border-color: #2957a2 !important;
  color: #ebc7a3 !important;
}
.ant-checkbox-checked .ant-checkbox-input {
  background-color: #2957a2 !important;
  color: #ebc7a3 !important;
}
.ant-checkbox-checked .ant-checkbox-inner::after {
  border-color: #ebc7a3 !important;
}

/* Input styles */
.ant-input {
  color: #2957a2;
  font-family: var(--font-english);
}
.ant-input::placeholder {
  color: #2957a2;
  opacity: 1;
  font-size: small;
  font-family: var(--font-english);
}
